.mailIcon {
    --tw-text-opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.75rem;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.mailInput {
    --background: 0 0% 100%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --tw-ring-offset-color: hsl(var(--background));
    background-color: hsl(var(--background));
    border-color: hsl(var(--input));
    padding-right: 0.75rem;
    padding-left: 2.75rem;
    border-width: 1px;
    border-radius: calc(var(--radius) - 2px);
    width: 100%;
}

@media (min-width: 1280px){
    .mailInput {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    };
}