.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 25px;
  }
  
  .loaderDot {
    width: 25px;
    height: 25px;
    background-color: #3498db; /* Change the color as needed */
    border-radius: 50%;
    animation: loaderAnimation 1.5s infinite ease-in-out;
  }
  
  @keyframes loaderAnimation {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }  